* {
  margin: 0;
  padding: 0;
}
header {
  width: 100%;
  margin-bottom: 1rem;
}
nav {
  height: 100% !important;
}
p {
  font-size: 1.2rem;
  line-height: 130%;
}
ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  overflow: hidden;
}
li {
  flex: 1;
  height: 100%;
  display: flex;
}
a {
  width: 100%;
  text-decoration: none;
  display: block;
  margin: auto;
  text-align: center;
}
main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
}
.card-image > img {
  margin: auto;
  width: 200px !important;
  height: auto !important;
}
.product-title {
  font-size: 2rem;
}
.nav-link {
  font-size: 1.2rem;
}
.set-card {
  min-width: 220px !important;
}
.row {
  display: flex !important;
  /* flex-direction: column; */
  align-items: center !important;
  flex-wrap: wrap !important;
  justify-content: flex-start !important;
}
.col.s10.m6.l4.card-wrapper {
  margin: 0;
}

/* responsive  */
@media only screen and (max-width: 600px) {
  .col.s10.m6.l4.card-wrapper {
    margin: auto;
  }
}
