* {
  margin: 0;
  padding: 0;
}
header {
  width: 100%;
  height: 64px;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
}
nav {
  height: 100% !important;
}
p {
  font-size: 1.2rem;
  line-height: 130%;
}
.menu-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  overflow-y: hidden;
  overflow-x: auto;
}
li {
  flex: 1;
  height: 100% !important;
  display: flex;
}
a {
  height: 100%;
  width: 100%;
  text-decoration: none;
  display: block;
  margin: auto;
  text-align: center;
}
main {
  padding-top: 6rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
}
.card-image > img {
  margin: auto;
  width: 200px !important;
  height: auto !important;
}
.product-title {
  font-size: 2rem;
}
.nav-link {
  font-size: 1.2rem;
  min-width: fit-content;
  padding: 2px;
  height: 64px;
}
.set-card {
  min-width: 220px !important;
}
/* .row-product {
  display: flex !important;
  flex-direction: column;
  align-items: center !important;
  flex-wrap: wrap !important;
  justify-content: flex-start !important;
} */
.col.s10.m6.l4.card-wrapper {
  margin: 0;
}
.price-tag {
  font-size: 1.4rem;
  font-weight: 500;
  position: absolute;
  left: 24px;
  bottom: -35px;
  color: rgb(0, 92, 197);
  width: fit-content;
  border: none;
  cursor: auto;
  height: 40px;
  line-height: 40px;
  padding: 0;
  vertical-align: middle;
  outline: 0;
}
.love-btn {
  border-radius: 50%;
  font-size: 1.4rem;
  font-weight: 500;
  position: absolute;
  right: 24px;
  bottom: -37px;
  color: rgb(0, 92, 197);
  width: 40px;
  border: none;
  cursor: auto;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  vertical-align: middle;
  outline: 0;
  cursor: pointer;
  z-index: 1;
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.3);
}
.love-btn:hover {
  box-shadow: inset 1000px 1000px 0 0 rgba(0, 0, 0, 0.1);
}

.love-btn > i {
  pointer-events: none;
}
.card-desc {
  padding-top: 40px !important;
}
.menu {
  min-width: 60px;
}
.link-main {
  width: 100px !important;
}
h3 {
  margin-bottom: 2rem;
}
#love-border {
  color: red;
}

/* responsive  */
@media only screen and (max-width: 600px) {
  .col.s10.m6.l4.card-wrapper {
    margin: auto;
  }
}
